:root {
  margin: 0;
  padding: 0;
  overflow: hidden; /* This is vital for ScrollControls */
  background-color: #020617;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}